In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
cali = pd.read_csv("California.csv", encoding = "utf8")
cali

,Rk,Player,Yrs,From,To,G,MP,FG,FGA,3P,...,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,Date,City
0,1,Alex Acker\ackeral01,2,2006,2009,30,234.0,34,92,8.0,...,81,0.370,0.320,0.500,7.8,2.7,1.0,0.5,Jan 21 1983,Compton
1,2,Mark Acres\acresma01,6,1988,1993,375,5982.0,514,1016,7.0,...,1343,0.506,0.538,0.665,16.0,3.6,4.1,0.5,Nov 15 1962,Inglewood
2,3,Hassan Adams\adamsha01,2,2007,2009,73,547.0,79,148,0.0,...,185,0.534,0.000,0.643,7.5,2.5,1.2,0.2,Jun 20 1984,Inglewood
3,4,Rick Adelman\adelmri01,7,1969,1975,462,10427.0,1381,3330,NaN,...,3579,0.415,NaN,0.713,22.6,7.7,2.4,3.5,Jun 16 1946,Lynwood
4,5,Arron Afflalo\afflaar01,11,2008,2018,762,20829.0,2983,6633,852.0,...,8198,0.450,0.386,0.825,27.3,10.8,2.9,1.8,Oct 15 1985,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,405,Howard Wright\wrighho02,2,1991,1993,19,174.0,23,52,0.0,...,62,0.442,0.000,0.615,9.2,3.3,2.5,0.2,Dec 20 1967,San Diego
405,406,George Yardley*\yardlge01,7,1954,1960,472,15767.0,3193,7572,NaN,...,9063,0.422,NaN,0.780,33.4,19.2,8.9,1.7,Nov 3 1928,Hollywood
406,407,Nick Young\youngni01,12,2008,2019,720,16419.0,2894,6920,1039.0,...,8194,0.418,0.376,0.836,22.8,11.4,2.0,1.0,Jun 1 1985,Los Angeles
407,408,Tim Young\youngti01,1,2000,2000,25,137.0,13,39,0.0,...,54,0.333,NaN,0.778,5.5,2.2,1.4,0.2,Feb 6 1976,Santa Cruz
408,409,Tyler Zeller\zellety01,7,2013,2019,412,7250.0,1160,2280,10.0,...,2871,0.509,0.286,0.764,17.6,7.0,4.4,0.9,Jan 17 1990,Visalia